.backdrop{
    z-index: 10000;
    background-color: #0009;
    height:100%;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    display:flex;
}
.epsdContDark{
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    height:550px;
    width:650px;
    margin:auto;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #1114;
}
.epsdCont{
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    height:550px;
    width:650px;
    margin:auto;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #1114;
}
.close{
    height:40px;
    color:#555
}
.closeDark{
    height:40px;
    color:white;
}
.close:hover{
    color:#222
}
.closeDark:hover{
    color:#eee
}
.count{
    width:130px;
    font-size: medium;
    background-color: rgb(209, 193, 49);
    color:black;
    border:none;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 4px;
}
.countDark{
    width:130px;
    font-size: medium;
    background-color: rgb(209, 193, 49);
    color:white;
    border:none;
    padding-top:13px;
    padding-bottom: 13px;
    border-radius: 4px;
}
.like{
    height:25px;
    color: rgb(209, 193, 49)
}

/* ---------------------------------Episod */
.epsdcard{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:15px;
    padding:10px;
    padding-top:15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width:40%;
}
.epsdcardDark{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:15px;
    padding:10px;
    padding-top:15px;
    border: 1px solid #000;
    background-color: #131313;
    border-radius: 10px;
    width:40%;
    gap:10px;
}
.epsdcardDark:hover{
    border:1px solid rgb(16, 162, 199)
}
.epsdcard:hover{
    border:1px solid rgb(16, 162, 199)
}
.title{
    margin:0px;
    font-size: medium;
}
.titleDark{
    margin:0px;
    font-size: medium;
    color:white;
}
.info{
    margin:0px;
    font-size: small;
}
.infoDark{
    margin:0px;
    font-size: small;
    color:white;
}
.epsdList{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}